{% extends "login/mypage_layout.html" %}

{% block content %}
<h1 class="text-primary">
  <center>
    
  	  계좌 목록
  	
  </center>
</h1>

 <p class="lead">
   <table>
     <tr>
      {% for ActList in qs_li %}
        <th>
        
          <a href="/mypage/{{ ActList.id }}">
            <h3>{{ ActList.act_name }}</h3>
          </a>
        </th>
        <td><label for="inputText3" class="col-sm-12 control-label">{{ ActList.act_summary }}</label></td>          
      </tr>
      {% endfor %}
   </table>
 </p>
<hr>
</div><!--End of Left-->

<div class="col-md-6" align="center">

	<h1 class="text-primary"><center>계좌정보</center></h1>

	<p class=""></p>
		{{form.as_table}}
		 {% for ActList in qs_view %}
		  <div class="lead">
		  	<div class="panel panel">
		      <div class="panel-heading">
		        <board><h5 class="panel-title" align="left">계좌번호</h5></board>
		      </div>
		      <div class="panel-body">
		        <div class="form-control col-sm-12 input-lg" type="text" align="left">{{ ActList.act_num }}</div>
		      </div>
		      <br>
		      <div class="panel-heading">
		        <h5 class="panel-title" align="left">계좌이름</h5>
		      </div>
		      <div class="panel-body">
		        <div class="form-control col-sm-12 input-lg" type="text" align="left">{{ ActList.act_name }}</div>
		      </div>
		      <br>
		      <div class="panel-heading">
		        <h5 class="panel-title" align="left">계좌메모</h5>
		      </div>
		      <div class="panel-body">
		        <div class="form-control col-sm-12 input-lg" type="text" align="left">{{ ActList.act_summary }}</div>
		      </div>
		      <br>
		      <div class="panel-heading">
		        <h5 class="panel-title" align="left">계좌정보</h5>
		      </div>
		      <div class="panel-body">
		        <textarea class="form-control col-sm-12 input-lg" >{{ ActList.act_info }}</textarea>
		      </div>
		    </div><!-- End of panel panel-->
		   </div><!--End of lead-->
		   <br>
		   <a href="/mypage/edit/{{ActList.id}}" class="btn btn-outline-info">정보수정</a>
           <a href="/mypage/delete/{{ActList.id}}" class="btn btn-outline-danger">계좌삭제</a>
		   <hr>
		  {% endfor %}
		  
{% endblock %}