{% extends 'login/layout.html' %}

{% block content %}

<!--돈입력버튼-->
<div class="py-5">
  <div class="container">    
    <!--입력 폼-->
    <form action="" method="post">
    {% csrf_token %}
      <center>
        <!--폼에 필드가 없을경우 에러메세지 출력-->
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              {{ error }}
          </div>
        {% endfor %}

        <div class="col-sm-5 form-control">
          {% for ActList in qs %}
            <h1 class="text-primary">{{ActList.act_name}} 입력</h1>
          {% endfor %}
          <input type="date" class="form-control" id="id_act_date" name="act_date">
          {% for error in form.act_date.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
          <input type="text" class="form-control" id="id_act_price" name="act_price" placeholder="금액(원)">
          {% for error in form.act_price.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
          <select class="form-control" id="id_act_payment" name="act_payment">
            <option>카드</option>
            <option>현금</option>
            <option> </option>
          </select>
          <select class="form-control" id="id_act_part" name="act_part">
            <option>수입</option>
            <option>지출</option>
            <option> </option>
          </select>

          <input list="id_act_content" name="act_content" class="form-control" placeholder="메모(직접입력 가능)">
          <datalist id="id_act_content" name="act_content">
            <option>월급</option>
            <option>적금</option>
            <option>교통비</option>
            <option>식비</option>
            <option>여가비</option>
          </datalist>
          {% for error in form.act_content.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
          <p class="help-block"></p><!--공백용-->
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">완료</button>
          <a href="/index" class="btn btn-outline-danger my-2">취소</a>
        </div>    
      </center>
    </form>
  </div>
  <!--입력폼 끝-->
</div>
{% endblock %}
