{% extends 'main/layout.html' %}

{% block content %}

<!--돈입력버튼-->
  <div class="container">    
        <ul class="navbar-nav mr-auto">
          <!--입력 폼-->
          <form action="" method="post">
          {% csrf_token %}
          	{% for ActList in qs1 %}
          		{{form.as_table}}
          	{% endfor %}
          	
            <li class="nav-item">
              <a class="nav-link" href="#"> 
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
              </a>
            </li>
          </form>
  </div>
          <!--입력폼 끝-->
{% endblock %}