{% extends 'login/layout.html' %}

{% block content %}
<div class="py-5">
	<div class="container">
		<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<center>
				<h1 class="text-primary">게시글 보기</h1>
			</center>
			<br>
			<form>
				<table class="table">
					{% for ActBoard in qs_board_view %}
						<tr>
							<td width="150px">
								<h3 class="text-primary">글제목</h3>
							</td>
							<td>
								<label>{{ ActBoard.board_title }}</label>
							</td>
						</tr>
						<tr>
							<td>
								<h4 class="text-primary">글쓴이</h4>
							</td>
							<td>
								<label>{{ ActBoard.board_nick }}</label>
							</td>
						</tr>
						<tr>
							<td>
								<h4 class="text-primary">시간</h4>
							</td>
							<td>
								<label>{{ ActBoard.create_time }}</label>
							</td>
						</tr>
						<tr>
							<td>
								<h4 class="text-primary">글내용</h4>
							</td>
							<td>
								<label>{{ ActBoard.board_content }}</label>
							</td>
						</tr>
				</table>
				<hr>
				<td><h4 class="text-primary">댓글</h4></td>
				<ul>
					{% if not post.comment_set.all %}
							아직 입력된 댓글이 없습니다
					{% endif %}
					{% for Comment in post.comment_set.all %}
						<li>
							{{ Comment.message }}
							<strong>by</strong> {{ Comment.author.nickname }}
							<strong>at</strong> {{ Comment.created_at }}
							{% if Comment.author == request.user %}
								<a href="{{ Comment.get_edit_url }}">수정</a>
								<a href="{{ Comment.get_delete_url }}" class="text-danger">삭제</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				<center>
					<hr>
						
					<a href="/board/list/" class="btn btn-outline-success">목록</a>
					<a href="/{{ActBoard.id}}/comment/write" class="btn btn-outline-primary">댓글쓰기</a>
				{% if user == ActBoard.board_name %}
					<a href="/board/edit/{{ActBoard.id}}" class="btn btn-outline-info">수정</a>
					<a href="/board/delete/{{ActBoard.id}}" class="btn btn-outline-danger">삭제</a>
				{% endif %}
				</center>
				{% endfor %}
			</form>
			<ul>
						
		</div>
		<div class="col-sm-2">
		</div>
		</div><!--End of row-->
	</div><!--End of container-->
</div><!--End of py-5-->
{% endblock %}