{% extends 'login/layout.html' %}
{% block content %}
{% load static %}
<!--상단 로고 및 CMM 출력-->


<div class="py-3">
	<div class="container form-control">
		<div class="row">
				<div class="col-md-4">
					<center>
						<h1>
						<button class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"> 통장관리 </button>
		                <div class="dropdown-menu">
		                  {% for ActList in qs_li %}
		                    <a class="dropdown-item" href="my_list/{{ ActList.id }}">{{ ActList.act_name }}</a>
		                	<div class="dropdown-divider"></div>
		                  {% endfor %}
		                	</div>
		                </h1>
					</center>
				</div>
				<div class="col-md-4">
					<center>
						<h1 class="text-primary"><img src="{% static "/img/logoo.png" %}" width="150px" height="70px"></h1>
		            </center>
				</div>
				<div class="col-md-4">
					<div class="py-3">
						<h4>
							사람들과 함께하는 소셜 가계부
						</h4>
					</div>
				</div>
		</div>
	</div>
</div>

<div class="py-3">
	<div class="container form-control"">
		<!--검색-->
		<nav class="navbar navbar-expand-md">
		    <div class="container"> 
			    <div class="col-md-12">
			      
			    </div>
			 </div><!--End of container-->
		</nav>

		<!--통장 공유 게시판-->
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<table class="table">
					<center>
						<h3 class="text-primary">
							<a href="/board/list">자유게시판</a>
						</h3>
					</center>
						<thead>
							<th>No</th>
							<th>제목</th>
							<th>닉네임</th>
						</thead>
						{% for ActBoard in qs_board_list %}
							<tbody>
								<td>{{ forloop.revcounter }}</td>
								<td>
									<a href="/board/view/{{ActBoard.id}}">{{ ActBoard.board_title }}</a>
								</td>
								<td>{{ ActBoard.board_nick }}</td>
							</tbody>
						{% endfor %}
					</table>
				</div>
				<div class="col-md-4">
					<table class="table">
					<center>
						<h3 class="text-primary">저축 순위</h3>
					</center>	
						<thead>
							<th>No</th>
							<th>ID</th>
						</thead>
						{% for BankBook in qs_income_rank %}
							<tbody>
								<td>{{ forloop.counter }}</td>
								<td>{{BankBook.name}}</td>
							</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="py-3">
	<div class="container form-control">
		<div class="row">
			<div class="col-md-6">
				<table class="table">
				<center>
					<h1 class="text-primary">익명상담</h1>
				</center>
					<thead>
						<th>No</th>
						<th>제목</th>
						<th>댓글수</th>
					</thead>
					{% for Post in qs_post_list %}
						<tbody>
							<td>{{ Post.pk }}</td>
							<td>
								<a href="/post/{{Post.id}}">
									{{ Post.title }}
								</a>
							</td>
							<td>{{ Post.count }}</td>
						</tbody>
					{% endfor %}
				</table>
			</div>
			<div class="col-md-6">
				<table class="table">
				<center>
					<h1 class="text-primary">내가쓴 글</h1>
				</center>
					<thead>
						<th>No</th>
						<th>제목</th>
						<th>댓글수</th>
					</thead>
					{% for Post in qs_my_post_list %}
						<tbody>
							<td>{{ Post.pk }}</td>
							<td>
								<a href="/post/{{Post.id}}">
									{{ Post.title }}
								</a>
							</td>
							<td>{{ Post.count }}</td>
					{% endfor %}
						</tbody>
					
				</table>
			</div>
		</div>
	</div>
</div>



<!--<div class="container">
	<div class="row">
		<div class="col-md-4">
			자랑통장 나올것
		</div>
		<div class="col-md-4">
			ㅎㅎ
		</div>
		<div class="col-md-4">
			ㅠㅎㅎ
		</div>
	</div>
</div>
-->


{% endblock %}