{% extends 'login/layout.html' %}

{% block content %}

<script type='text/javascript'>
<!--
setTimeout("location.href='/'",5000);
//-->
</script>


	<div class="container">
		<div class="row">
			<div class="py-5"> 
			<center>
			    <div class="col-sm-12">
				    <div class="title-area">
				        <h2 class="text-primary">정상적으로 변경퇴었습니다.</h2>
				        <p class="description">재 로그인 해주시기 바랍니다</p>
				        <p class="description">5초뒤 로그인 페이지로 이동합니다.</p>      
					</div>
				</center>
				</div>
			</div>
		</div>
	</div>
{% endblock %}