{% extends "login/mypage_layout.html" %}

{% block title %}identification.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}

<div class="section">       
    <div class="title-area">
        <p class="description">본인 확인을 위해 비밀번호를 입력해주세요!</p>
        <form method="post" action="{% url 'login:user_delete' %}"> 
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning">
              <strong>Warning!</strong> {{form.errors}}
            </div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
                <input type="password" class="form-control" name="password" required="" id="id_password" placeholder="password">
        </div>
        <div class="py-2">
            <div class="submit-row">
                <input type="submit" class ="btn btn-danger btn-fill btn-md" value="탈퇴하기"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>       
            <script type="text/javascript">document.getElementById("id_username").focus();
            </script>
        </div>
        </form>
    </div>
</div>
{% endblock %}