{% extends 'login/layout.html' %}

{% block content %}


<form action="" method="post">
	{% csrf_token %}
	     <center>
        <!--폼에 필드가 없을경우 에러메세지 출력-->
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              {{ error }}
          </div>
        {% endfor %}

        <div class="col-sm-5">
          <input type="date" class="form-control" required id="id_act_date" name="act_date" value="">
          {% for error in form.act_date.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
          <input type="text" class="form-control" required id="id_act_price" name="act_price" value="">
          {% for error in form.act_price.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
          <select class="form-control" id="id_act_payment" name="act_payment">
            <option>카드</option>
            <option>현금</option>
          </select>
          <select class="form-control" id="id_act_part" name="act_part">
            <option>수입</option>
            <option>지출</option>
          </select>
        </div>
         <p class="help-block"></p>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">완료</button>
      </center>
	
</form>
{% endblock %}