{% extends 'login/layout.html' %}

{% block content %}
<div class="py-3">
	<div class="container">
		<div class="row">
			<!--Left-->
			<div class="col-md-5">
			<h1 class="text-primary" align="center">	
				{% for ActList in qs %}
					{{ ActList.act_name }}
				{% endfor %}
			</h1>
			<br>
			<h6 align="right">
						계좌에 남은 금액: 
						{% for BankBook in qs_total %}
								{{ qs_total.act_total__sum}}
						{% endfor %}
						원
					</h6>
					<table class="table">
						<thead>
							<tr>
								<th>날짜</th>
								<th>금액</th>
								<th>카드/현금</th>
								<th>수입/지출</th>
							</tr>
						</thead>
					{% for BankBook in qs_info %}
						<tbody>
							<td>
								<h6>
									<a href="/index/my_view/{{ BankBook.id }}">
										{{ BankBook.act_date }}
									</a>
								</h6>
							</td>
							<td>{{ BankBook.act_price }}</td>
							<td>{{ BankBook.act_payment }}</td>
							<td>{{ BankBook.act_part }}</td>
						</tbody>
					{% endfor %}
				</table>
			</div><!--End of Left-->
				
			<!--Right-->
			<div class="col-md-7">
				<div class="py-1">
				<h1 class="text-primary" align="center">	
					일별 수입 지출 그래프
				</h1>
				<br>
				<div id="chart"></div>
				<script src="https://d3js.org/d3.v3.min.js"></script>   <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
				<script type="text/javascript">
				var chart = c3.generate({
				    data: {
				        x: 'x',
				//        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
				        columns: [
				            ['x', '2011-01-01','2011-01-02','2011-01-03','2011-01-04','2011-01-05'],

				            ['data1', 30, 200, 100, 400, 150, 250],
				            ['data2', 130, 340, 200, 500, 250, 350]
				        ]
				    },
				    axis: {
				        x: {
				            type: 'timeseries',
				            tick: {
				                format: '%Y-%m-%d'
				            }
				        }
				    }
				});

				setTimeout(function () {
				    chart.load({
				        columns: [
				            ['data3', 400, 500, 450, 700, 600, 500]
				        ]
				    });
				}, 1000);
				</script>
				</div><!--End of py-1-->
			</div><!--End of Right-->
		</div><!--End of row-->
	</div><!--End of container-->
</div><!--End of py-3-->
{% endblock %}