{% extends 'login/layout.html' %}

{% block content %}
<div class="py-3">
	<div class="container">
		<div class="row form-control">
			<div class="col-md-12">
				<h1 class="text-primary" align="center">	
					{% for ActList in qs %}
						{{ ActList.act_name }} 사용내역
					{% endfor %}
				</h1>
				<br>
				<h6 align="right">
					계좌에 남은 금액: 
					{% for BankBook in qs_total %}
						{{ qs_total.act_total__sum}}
					{% endfor %}
					원
				</h6>

				<table class="table">
					<thead>
						<tr>
							<th>날짜</th>
							<th>금액</th>
							<th>카드/현금</th>
							<th>수입/지출</th>
						</tr>
					</thead>
					{% for BankBook in contacts %}
						<tbody>
							<td>
								<h6>
									<a href="/index/my_view/{{ BankBook.id }}">
										{{ BankBook.act_date }}
									</a>
								</h6>
							</td>
							<td>{{ BankBook.act_price }}</td>
							<td>{{ BankBook.act_content }}</td>
							<td>{{ BankBook.act_payment }}</td>
							<td>{{ BankBook.act_part }}</td>
						</tbody>
					{% endfor %}
				<div class="pagination">
					<span class="step-links">
						{% if contacts.has_previous %}
							<a href="?page={{ contacts.previous_page_number }}">이전</a>
						{% endif %}
						 <span class="current">
				            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
				        </span>

				        {% if contacts.has_next %}
				            <a href="?page={{ contacts.next_page_number }}">다음</a>
				        {% endif %}
					</span>
				</div>
				</table>
			</div><!--End of col-md-12-->
		</div><!--End of row-->
	</div><!--End of container-->
</div><!--End of py-3-->

{# if qs_circle #}
<div class="py-3">
	<div class="container">
		<div class="row form-control">
			<div class="container1 form-control">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
					  <li role="presentation" class="nav-link"><a href="#tab1" role="tab" data-toggle="tab">지출성향 그래프 확인</a></li>
					  <li role="presentation" class="nav-link"><a href="#tab2" role="tab" data-toggle="tab">숨기기</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					  <div role="tabpanel" class="tab-pane" id="tab1">
					  	<p>
							<script>
								var chart = AmCharts.makeChart("chartdiv", {
								  "type": "pie",
								  "titles": [ {
								  "text": "통장별 사용분포도",
								  "size": 16
								  } ],
								  "startDuration": 0,
								   "theme": "light",
								  "addClassNames": true,
								  "legend":{
								   	"position":"right",
								    "marginRight":100,
								    "autoMargins":false
								  },
								  "innerRadius": "30%",
								  "defs": {
								    "filter": [{
								      "id": "shadow",
								      "width": "200%",
								      "height": "200%",
								      "feOffset": {
								        "result": "offOut",
								        "in": "SourceAlpha",
								        "dx": 0,
								        "dy": 0
								      },
								      "feGaussianBlur": {
								        "result": "blurOut",
								        "in": "offOut",
								        "stdDeviation": 5
								      },
								      "feBlend": {
								        "in": "SourceGraphic",
								        "in2": "blurOut",
								        "mode": "normal"
								      }
								    }]
								  },
								  "dataProvider": [
										{% for BankBook in qs_circle_acc %}
										{
										  "country": "적금",
										  "litres": {{qs_circle_acc.act_price__sum}}
										},
										{% endfor %}

										{% for BankBook in qs_circle_bus %}
										{
										  "country": "교통비",
										  "litres": {{qs_circle_bus.act_price__sum}}
										},
										{% endfor %}

										{% for BankBook in qs_circle_food %}
										{
										  "country": "식비",
										  "litres": {{qs_circle_food.act_price__sum}}
										},
										{% endfor %}




									
								  
								  ],
								  "valueField": "litres",
								  "titleField": "country",
								  "export": {
								    "enabled": true
								  }
								});

								chart.addListener("init", handleInit);

								chart.addListener("rollOverSlice", function(e) {
								  handleRollOver(e);
								});

								function handleInit(){
								  chart.legend.addListener("rollOverItem", handleRollOver);
								}

								function handleRollOver(e){
								  var wedge = e.dataItem.wedge.node;
								  wedge.parentNode.appendChild(wedge);
								}
							</script>

							<!-- HTML -->
							<div id="chartdiv"></div>	
					  	</p>
					  </div>
					  <div role="tabpanel" class="tab-pane" id="tab2">
					  	<p>
							
					  	</p>
					  </div>
					</div>
				</div>
				<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
				<script src="/SRC2/sctab/jquery.scrolling-tabs.js"></script>
				<script>
				$('.nav-tabs').scrollingTabs();
				</script>
		</div>
</div>
{# endif #}

{% if qs_income  %}
<!--수입파트-->
<div class="container py-3">
	<div class="row form-control" >
		<!--Left-->
		<div class="col-md-5">
		<h1 class="text-primary" align="center">	
			수입 목록
		</h1>
		<br>
		<h6 align="right">
			통장에 들어온 돈: 
			{% for BankBook in qs_total_income %}
				{{ qs_total_income.act_total__sum}}
			{% endfor %}
			원
		</h6>
				<table class="table">
					<thead>
						<tr>
							<th>날짜</th>
							<th>금액</th>
							<th>구분</th>
						</tr>
					</thead>
				{% for BankBook in contacts1 %}
					<tbody>
						<td>
							<h6>
								<a href="/index/my_view/{{ BankBook.id }}">
									{{ BankBook.act_date }}
								</a>
							</h6>
						</td>
						<td>{{ BankBook.act_price }}</td>
						<td>{{ BankBook.act_payment }}</td>
					</tbody>
				{% endfor %}
			</table>
			<div class="pagination">
					<span class="step-links">
						{% if contacts1.has_previous %}
							<a href="?page1={{ contacts1.previous_page_number }}">이전</a>
						{% endif %}
						 <span class="current">
				            Page {{ contacts1.number }} of {{ contacts1.paginator.num_pages }}.
				        </span>
				        {% if contacts1.has_next %}
				            <a href="?page1={{ contacts1.next_page_number }}">다음</a>
				        {% endif %}
					</span>
				</div>
		</div><!--End of Left-->
			
		<!--Right-->
		<div class="col-md-7">
			<div class="py-1">
				<h1 class="text-primary" align="center">	
					수입 그래프
				</h1>
				<br>
				<script>
					var chart = AmCharts.makeChart("chartdiv1", {
					    "type": "serial",
					    "theme": "light",
					    "marginRight": 40,
					    "marginLeft": 40,
					    "autoMarginOffset": 20,
					    "mouseWheelZoomEnabled":true,
					    "dataDateFormat": "YYYY-MM-DD",
					    "valueAxes": [{
					        "id": "v1",
					        "axisAlpha": 0,
					        "position": "left",
					        "ignoreAxisWidth":true
					    }],
					    "balloon": {
					        "borderThickness": 1,
					        "shadowAlpha": 0
					    },
					    "graphs": [{
					        "id": "g1",
					        "balloon":{
					          "drop":true,
					          "adjustBorderColor":false,
					          "color":"#ffffff"
					        },
					        "bullet": "round",
					        "bulletBorderAlpha": 1,
					        "bulletColor": "#FFFFFF",
					        "bulletSize": 5,
					        "hideBulletsCount": 50,
					        "lineThickness": 2,
					        "title": "red line",
					        "useLineColorForBulletBorder": true,
					        "valueField": "value",
					        "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
					    }],
					    "chartScrollbar": {
					        "graph": "g1",
					        "oppositeAxis":false,
					        "offset":30,
					        "scrollbarHeight": 80,
					        "backgroundAlpha": 0,
					        "selectedBackgroundAlpha": 0.1,
					        "selectedBackgroundColor": "#888888",
					        "graphFillAlpha": 0,
					        "graphLineAlpha": 0.5,
					        "selectedGraphFillAlpha": 0,
					        "selectedGraphLineAlpha": 1,
					        "autoGridCount":true,
					        "color":"#AAAAAA"
					    },
					    "chartCursor": {
					        "pan": true,
					        "valueLineEnabled": true,
					        "valueLineBalloonEnabled": true,
					        "cursorAlpha":1,
					        "cursorColor":"#258cbb",
					        "limitToGraph":"g1",
					        "valueLineAlpha":0.2,
					        "valueZoomable":true
					    },
					    "valueScrollbar":{
					      "oppositeAxis":false,
					      "offset":50,
					      "scrollbarHeight":10
					    },
					    "categoryField": "date",
					    "categoryAxis": {
					        "parseDates": true,
					        "dashLength": 1,
					        "minorGridEnabled": true
					    },
					    "export": {
					        "enabled": true
					    },

					    "dataProvider": 
					    [
					    	{% for BankBook in qs_income_graph %}
						    	{
						        	"date": "{{BankBook.act_date|date:"Y-m-d"}}",
						        	"value": {{BankBook.act_price}}
						        },
					        {% endfor %}    
					    ]
					});

					chart.addListener("rendered", zoomChart);

					zoomChart();

					function zoomChart() {
					    chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
					}
				</script>
				<div id="chartdiv1"></div>

								
			</div><!--End of py-1-->
		</div><!--End of Right-->
	</div><!--End of row-->
</div><!--End of container-->
{% endif %}

{% if qs_expenses %}
	<!--지출파트-->
	<div class="container py-3">
		<div class="row form-control" >
			<!--Left-->
			<div class="col-md-5">
			<h1 class="text-primary" align="center">	
				지출 목록
			</h1>
			<br>
			<h6 align="right">
				사용한 돈: 
				{% for BankBook in qs_total_expenses %}
					{{ qs_total_expenses.act_total__sum}}
				{% endfor %}
				원
			</h6>
					<table class="table">
						<thead>
							<tr>
								<th>날짜</th>
								<th>금액</th>
								<th>구분</th>
							</tr>
						</thead>
					{% for BankBook in contacts2 %}
						<tbody>
							<td>
								<h6>
									<a href="/index/my_view/{{ BankBook.id }}">
										{{ BankBook.act_date }}
									</a>
								</h6>
							</td>
							<td>{{ BankBook.act_price }}</td>
							<td>{{ BankBook.act_payment }}</td>
						</tbody>
					{% endfor %}
					<div class="pagination">
						<span class="step-links">
							{% if contacts2.has_previous %}
								<a href="?page2={{ contacts2.previous_page_number }}">이전</a>
							{% endif %}
							 <span class="current">
					            Page {{ contacts2.number }} of {{ contacts2.paginator.num_pages }}.
					        </span>

					        {% if contacts2.has_next %}
					            <a href="?page2={{ contacts2.next_page_number }}">다음</a>
					        {% endif %}
						</span>
					</div>
				</table>
			</div><!--End of Left-->
				
			<!--Right-->
			<div class="col-md-7">
				<div class="py-1">
					<h1 class="text-primary" align="center">	
						지출 그래프
					</h1>
					<br>
					<script>
						var chart = AmCharts.makeChart("chartdiv2", {
						    "type": "serial",
						    "theme": "light",
						    "marginRight": 40,
						    "marginLeft": 40,
						    "autoMarginOffset": 20,
						    "mouseWheelZoomEnabled":true,
						    "dataDateFormat": "YYYY-MM-DD",
						    "valueAxes": [{
						        "id": "v1",
						        "axisAlpha": 0,
						        "position": "left",
						        "ignoreAxisWidth":true
						    }],
						    "balloon": {
						        "borderThickness": 1,
						        "shadowAlpha": 0
						    },
						    "graphs": [{
						        "id": "g1",
						        "balloon":{
						          "drop":true,
						          "adjustBorderColor":false,
						          "color":"#ffffff"
						        },
						        "bullet": "round",
						        "bulletBorderAlpha": 1,
						        "bulletColor": "#FFFFFF",
						        "bulletSize": 5,
						        "hideBulletsCount": 50,
						        "lineThickness": 2,
						        "title": "red line",
						        "useLineColorForBulletBorder": true,
						        "valueField": "value",
						        "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
						    }],
						    "chartScrollbar": {
						        "graph": "g1",
						        "oppositeAxis":false,
						        "offset":30,
						        "scrollbarHeight": 80,
						        "backgroundAlpha": 0,
						        "selectedBackgroundAlpha": 0.1,
						        "selectedBackgroundColor": "#888888",
						        "graphFillAlpha": 0,
						        "graphLineAlpha": 0.5,
						        "selectedGraphFillAlpha": 0,
						        "selectedGraphLineAlpha": 1,
						        "autoGridCount":true,
						        "color":"#AAAAAA"
						    },
						    "chartCursor": {
						        "pan": true,
						        "valueLineEnabled": true,
						        "valueLineBalloonEnabled": true,
						        "cursorAlpha":1,
						        "cursorColor":"#258cbb",
						        "limitToGraph":"g1",
						        "valueLineAlpha":0.2,
						        "valueZoomable":true
						    },
						    "valueScrollbar":{
						      "oppositeAxis":false,
						      "offset":50,
						      "scrollbarHeight":10
						    },
						    "categoryField": "date",
						    "categoryAxis": {
						        "parseDates": true,
						        "dashLength": 1,
						        "minorGridEnabled": true
						    },
						    "export": {
						        "enabled": true
						    },

						    "dataProvider": 
						    [
						    	{% for BankBook in qs_expenses_graph %}
							    	{
							        	"date": "{{BankBook.act_date|date:"Y-m-d"}}",
							        	"value": {{BankBook.act_price}}
							        },
						        {% endfor %}    
						    ]
						});

						chart.addListener("rendered", zoomChart);

						zoomChart();

						function zoomChart() {
						    chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
						}
					</script>
					<div id="chartdiv2"></div>

									
				</div><!--End of py-1-->
			</div><!--End of Right-->
		</div><!--End of row-->
	</div><!--End of container-->
{% endif %}
{% endblock %}

<!--

-->
