{% extends 'login/layout.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<!-- 나중에 반반 나누고 싶다면 그때 쓰자
		<div class="col-md-6">
			<table class="table">
					<thead>
						<tr>
							<th>날짜</th>
							<th>금액</th>
							<th>카드/현금</th>
							<th>수입/지출</th>
						</tr>
					</thead>
				{% for BankBook in qs_info %}
					<tbody>
						
						<td>
							<a href="/index/view/{{ BankBook.id }}">
								{{ BankBook.act_date }}
							</a>
						</td>
						<td>{{ BankBook.act_price }}</td>
						<td>{{ BankBook.act_payment }}</td>
						<td>{{ BankBook.act_part }}</td>
					</tbody>
				{% endfor %}
			</table>
		</div>
		-->
		<div class="col-md-3">
		</div>
		<div class="col-md-6" align="center">
		{% for BankBook in qs_info %}
		  <div class="lead">
		  	<div class="panel panel">
		      <div class="panel-heading">
		        <board><h5 class="panel-title" align="left">날짜</h5></board>
		      </div>
		      <div class="panel-body">
		        <div class="form-control col-sm-12 input-lg" type="text" align="left">{{ BankBook.act_date }}</div>
		      </div>
		      <br>
		      <div class="panel-heading">
		        <h5 class="panel-title" align="left">금액</h5>
		      </div>
		      <div class="panel-body">
		        <div class="form-control col-sm-12 input-lg" type="text" align="left">{{ BankBook.act_price }}</div>
		      </div>
		      <br>
		      <div class="panel-heading">
		        <h5 class="panel-title" align="left">카드/현금</h5>
		      </div>
		      <div class="panel-body">
		        <div class="form-control col-sm-12 input-lg" type="text" align="left">{{ BankBook.act_payment }}</div>
		      </div>
		      <br>
		      <div class="panel-heading">
		        <h5 class="panel-title" align="left">수입/지출</h5>
		      </div>
		      <div class="panel-body">
		        <div class="form-control col-sm-12 input-lg" type="text" align="left">{{ BankBook.act_part }}</div>
		      </div>
		    </div><!-- End of panel panel-->
		   </div><!--End of lead-->
		   <br>
		   <center>
		   <a href="/index/edit/{{BankBook.id}}" class="btn btn-outline-info">수정</a>
		   <a href="/index/delete/{{BankBook.id}}" class="btn btn-outline-danger">삭제</a>     
		   </center>
		   <hr>
		{% endfor %}
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>

{% endblock %}