{% extends "main/layout.html" %}
{% block title %}
	Profile
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <div class="py-5  section">
     <div class="container">
       <div class="row">
         <!--Left-->
         <div class="col-md-6" align="center">
           <h1 class="text-primary"><center>회원정보</center></h1>
           <p class="lead">
             <table>
             <tr>
               <th>이메일</th>
               <td><label for="inputEmail3" class="col-sm-12 control-label">{{ user.email }}</label></td>
             </tr>
               <th>생년월일</th>
               <td><label for="inputText3" class="col-sm-12 control-label">{{ user.birth }}</label></td>
             </tr>
             <tr>
               <th>닉네임</th>
               <td><label for="inputText3" class="col-sm-12 control-label">{{ user.nickname }}</label></td>
             </tr>
             </table>
           </p>
           <button class="btn btn-outline-info my-2 my-sm-0" data-toggle="modal" data-target="#editModal" data-backdrop="false" type="button">정보수정</button> 
           <button class="btn btn-outline-info my-2 my-sm-0" data-toggle="modal" data-target="#myModal" data-backdrop="false" type="button">비번변경</button>           
           <button class="btn btn-outline-danger my-2 my-sm-0" type="button">회원탈퇴</button>
          <hr>
          <!--계좌 목록-->
          <h1 class="text-primary"><center>계좌 목록</center></h1>
           <p class="lead">
             <table>
               <tr>
                {% for ActList in Managment %}
                  <th>
                    <a href="{{ ActList.actName }}/">
                      {{ ActList.actName }}
                    </a>
                  </th>
                  <td><label for="inputText3" class="col-sm-12 control-label">{{ ActList.actSummary }}</label></td>               
                </tr>
                {% endfor %}
             </table>
           </p>
         
         <!-- 계좌 추가 -->
         <p class="" align="Left"><i class="d-block mx-auto fa fa-2x fa-plus" onclick="add()"></i></p>
          <div id="sortWrap">
            <div data-order="0" id="as" style="display:none">
              <form action="" method="post" class="form-group">
                {% csrf_token %}
                <table>
                <div class="form-control">
                  {{ form.ActNum }}
                  {{ form.ActName }}
                  {{ form.ActSummary }}
                  {{ form.ActInfo }}
                </div>
                </table>


                <!-- UI했던 박스들
                  <input type="text" placeholder="은행명을 입력하세요">
                  <input type="text" placeholder="예금주를 입력하세요">
                  <input type="text" placeholder="계좌번호를 입력하세요">
                  <input type="text" placeholder="계좌정보를 입력하세요">
                -->
                  <!-- 계좌 삭제 -->
                  <i class="d-block mx-auto fa fa-2x fa-times" onclick="remove(this)" align="right"></i>
              </form>
            </div>
          </div>

         </div><!--End of Left-->
 
        <!--==============================================================-->

         <!--Right-->
         <div class="col-md-6" align="Left">
           <h1 class="text-primary"><center>계좌정보</center></h1>
           <p class=""></p>
              {% for ActList in account_info %}

                {{ ActList.actNum }}
                {{ ActList.actName }}
                {{ ActList.actSummary }}
                {{ ActList.actInfo }}

              {% endfor %}

       </div><!--end of Right-->
     </div>
   </div>
</form>

<!-- Modal -->
<div class="modal fade" id="editModal" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <!--Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Close button-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!--Modal title-->
        <h4 class="modal-title" id="myModalLabel">회원정보 변경</h4>
      </div><!--End of modal-content-->
      <!--Modal body-->
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <center>
            <!--폼에 필드가 없을경우 에러메세지 출력-->
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  {{ error }}
              </div>
            <script>
              $(document).ready(function(){
                  $("#myModal").modal("show");
              });
            </script>
            {% endfor %}
            <!--필드 출력할 반복문-->
            {% for field in form.visible_fields %}
              <div class="form-group">
                <!--필드들의 라벨 출력-->
                {{ field.label_tag }} 

                <div class="col-sm-10">
                  <!--필드들 출력-->
                  {{ field }}
                  <!--필드자체 에러 메시지 출력-->
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      {{ error }}
                    </div>
                  <script>
                    $(document).ready(function(){
                        $("#myModal").modal("show");
                    });
                  </script>
                  {% endfor %}
                </div>
              </div> 
            {% endfor %}
            </center>    
          </div><!--End of Modal-body-->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="myBtn">확인</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          </div><!--End of Modal-footer-->
        </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <!--Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--Close button-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!--Modal title-->
        <h4 class="modal-title" id="myModalLabel">비밀번호 변경</h4>
      </div><!--End of modal-content-->
      <!--Modal body-->
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <center>
            <!--폼에 필드가 없을경우 에러메세지 출력-->
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  {{ error }}
              </div>
            <script>
              $(document).ready(function(){
                  $("#myModal").modal("show");
              });
            </script>
            {% endfor %}
            <!--필드 출력할 반복문-->
            {% for field in form.visible_fields %}
              <div class="form-group">
                <!--필드들의 라벨 출력-->
                {{ field.label_tag }} 

                <div class="col-sm-10">
                  <!--필드들 출력-->
                  {{ field }}
                  <!--필드자체 에러 메시지 출력-->
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      {{ error }}
                    </div>
                  <script>
                    $(document).ready(function(){
                        $("#myModal").modal("show");
                    });
                  </script>
                  {% endfor %}
                </div>
              </div> 
            {% endfor %}
            </center>    
          </div><!--End of Modal-body-->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="myBtn">확인</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          </div><!--End of Modal-footer-->
        </form>
    </div>
  </div>
</div>
{% endblock %}

<!--
  <div class="py-5  section">
     <div class="container">
       <div class="row">

         <div class="col-md-6">
           <h1 class="text-primary"><center>회원정보</center></h1>
           <p class="lead">
             <div class="form-group">
               <label>이메일</label>
               {{ login.MyUser.email }}
             </div>
             <div class="form-group">
               <label>비밀번호</label>
               <input type="password" class="form-control" placeholder="비밀번호">
             </div>
             <div class="form-group">
               <label>비밀번호 확인</label>
               <input type="password" class="form-control" placeholder="비밀번호 확인">
             </div>
             <div class="form-group">
               <label>생년월일</label>
               {{ MyUser.birth }}
             </div>
           </p>
         </div>
 

         <div class="col-md-6">
           <h1 class="text-primary"><center>계좌정보</center></h1>
           <p class="lead">
             
           </p>
         </div>
       </div>
     </div>
   </div>
-->