{% extends "main/layout.html" %}
{% block title %}
	Edit Profile
{% endblock %}
{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <div class="py-5  section">
     <div class="container">
       <div class="row">
         <!--Left-->
         <div class="col-md-6" align="center">
           <h1 class="text-primary"><center>회원정보</center></h1>
           <p class="lead">
             <table>
             <tr>
               <th>이메일</th>
               <td><label for="inputEmail3" class="col-sm-2 control-label">{{ user.email }}</label></td>
             </tr>
               <th>생년월일</th>
               <td><input type="text" class="form-control" value="{{ user.birth }}"></td>
             </tr>
             <tr>
               <th>닉네임</th>
               <td><input type="text" class="form-control" value="{{ user.nickname }}"></td>
             </tr>
             </table>
             {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
          {% endfor %}
          <!--필드 출력할 반복문-->
          {% for field in form.visible_fields %}
            <div class="form-group">
              <!--필드들의 라벨 출력-->
              {{ field.label_tag }} 

              <div class="col-sm-10">
                <!--필드들 출력-->
                {{ field }}
                <!--help_text가 있을경우에만 출력하자-->
                {% if field.help_text %}
                  <p class="help-block">{{ field.help_text }}</p>
                {% endif %}

                <!--필드자체 에러 메시지 출력-->
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ error }}
                  </div>
                {% endfor %}

              </div>
            </div> 
          {% endfor %}
           </p>

           <button class="btn btn-outline-info my-2 my-sm-0">회원정보 수정 완료</button>
           <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">회원탈퇴</button>
         </div><!--End of Left-->
 
         <!--Right-->
         <div class="col-md-6" align="Left">
           <h1 class="text-primary"><center>계좌정보</center></h1>
           <p class=""></p>
          <p class=""><i class="d-block mx-auto fa fa-2x fa-plus" onclick="add()"></i></p>
          <div id="sortWrap">
            <div data-order="0" id="as" style="display:none">
              <input type="text" placeholder="은행명을 입력하세요">
              <input type="text" placeholder="예금주를 입력하세요">
              <input type="text" placeholder="계좌번호를 입력하세요">
              <input type="text" placeholder="계좌정보를 입력하세요">
              <i class="d-block mx-auto fa fa-2x fa-times" onclick="remove(this)"></i>
              <p>
          </div>
         </div>
       </div><!--end of Right-->

     </div>
   </div>
</form>
{% endblock %}

<!-- 버튼 링크 쓰고싶을때 쓰기
<button class="btn btn-outline-info my-2 my-sm-0" onclick="EditProfileLink()">회원정보 수정 완료</button>
-->
<!--
  <div class="py-5  section">
     <div class="container">
       <div class="row">

         <div class="col-md-6">
           <h1 class="text-primary"><center>회원정보</center></h1>
           <p class="lead">
             <div class="form-group">
               <label>이메일</label>
               {{ login.MyUser.email }}
             </div>
             <div class="form-group">
               <label>비밀번호</label>
               <input type="password" class="form-control" placeholder="비밀번호">
             </div>
             <div class="form-group">
               <label>비밀번호 확인</label>
               <input type="password" class="form-control" placeholder="비밀번호 확인">
             </div>
             <div class="form-group">
               <label>생년월일</label>
               {{ MyUser.birth }}
             </div>
           </p>
         </div>
 

         <div class="col-md-6">
           <h1 class="text-primary"><center>계좌정보</center></h1>
           <p class="lead">
             
           </p>
         </div>
       </div>
     </div>
   </div>
-->