{% extends 'login/layout.html' %}

{% block content %}
<div class="py-5">
	<div class="container">
		<div class="row form-control" align="center">
			<div class="col-md-4">
				<br>
				<div class="pagination">
					<span class="step-links">
						{% if contacts.has_previous %}
							<a href="?page={{ contacts.previous_page_number }}">이전</a>
						{% endif %}
						 <span class="current">
				            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
				        </span>

				        {% if contacts.has_next %}
				            <a href="?page={{ contacts.next_page_number }}">다음</a>
				        {% endif %}
					</span>
				</div>
			</div>
			<div class="col-md-4">
				<h1 class="text-primary">익명상담게시판</h1>
			</div>
			<div class="col-md-4" align="right">
			<a href="/post/new/" class="btn btn-outline-info">글쓰기</a>
			</div>

			<table class="table">
				<thead>
					<th>번호</th>
					<th>제목</th>
					<th>시간</th>
				</thead>

				{% for Post in contacts %}
				<tbody>
					<td>{{ Post.id }}</td>
					<!--forloop.counter주소: https://docs.djangoproject.com/en/1.11/ref/templates/builtins/-->
					<td>
						<a href="/post/{{ Post.id }}">
							{{ Post.title }}
						</a>
					</td>
					<td>{{ Post.created_at }}</td>
				</tbody>
				{% endfor %}
			</table>	
		</div>
	</div>	
</div>

{% endblock %}