<!DOCTYPE html>
<html>
<head>
    <title>search_password.html</title>
</head>
<body>

<div class="section">       
    <div class="title-area">
        <h2>비밀번호 찾기</h2>
        <p class="description">아이디와 이메일 주소를 정확히 입력하시면, 비밀번호 재설정을 할 수 있습니다.</p>
            <form method="post" action="{% url 'login:find_password' %}"> 
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-warning">
              <strong>Warning!</strong> {{form.errors}}
            </div>
            {% endif %}
                <div class="form-row col-xs-6">
                    <input type="text" name="birth" autofocus="" required="" id="id_birth" class="form-control" maxlength="50" placeholder="birth">
                </div>
                <div class="form-row col-xs-6">
                    <input type="email" name="email" required="" placeholder="email : example@abc.com" class="form-control" id="id_email">
                </div>
            

            <div class="submit-row">
                <input type="submit" class ="btn btn-danger btn-fill btn-md" value="비밀번호 재설정"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

            
            <script type="text/javascript">document.getElementById("id_username").focus();
            </script>
        </form>

    </div>

</div>

<center>
        {% for form in findpw %}

            <h2> 아이디는 "{{ form.email }}" </h2>
        <form method="post" action="{% url 'login:ForgetChangePw' form.email %}"> 
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-warning">
              <strong>Warning!</strong> {{form.errors}}
            </div>
            {% endif %}
            <fieldset>

            <div class="form-row col-xs-6">
                <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="new_password1">
            </div>
            <div class="form-row col-xs-3"></div>
            <div class="form-row col-xs-6">
                <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="new_password confirmation">
            </div>
            
            </fieldset>
            <div class="submit-row col-xs-12">
                <input type="submit" class ="btn btn-danger btn-fill btn-md" value="Password Change"/>
            </div>
            
    </form>
        {% endfor %} 

</center>
</body>
</html>
